@import "tailwindcss";

@font-face {
  font-family: 'Alegreya';
  src: url('/assets/fonts/AlegreyaSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/assets/fonts/AlegreyaSC-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/assets/fonts/AlegreyaSC-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/assets/fonts/AlegreyaSC-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/assets/fonts/AlegreyaSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/assets/fonts/AlegreyaSC-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/assets/fonts/AlegreyaSC-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/assets/fonts/AlegreyaSC-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/assets/fonts/AlegreyaSC-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/assets/fonts/AlegreyaSC-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

body {
  margin: 0;
  background: #EEE8DC;
  font-family: 'Alegreya', serif;
  color: #26261F;
  overflow-x: hidden;
}

a {
  color: #4B6B45;
  text-decoration: none;
}
a:hover {
  color: #2C4A34;
}
